<a href="https://colab.research.google.com/github/GarrettEisenhuth/BTE-320/blob/main/Eisenhuth%2C_Garrett_In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = float(input('Please provide radius: '))
height = float(input('Please provide height: '))

area = (2*pi*(radius**2))+(2*pi*radius*height)
print(f'Surface Area of a Cylinder: {area} sq. ft')

In [ ]:
n1 = float(input("Please provide first number: "))
n2 = float(input("Please provide second number: "))
s = input("Please provide operator (+, -, /, //, *, **, %): ")

if s == "+":
  print(f"{n1} + {n2} = {n1 + n2}")
elif s == "-":
  print(f"{n1} - {n2} = {n1 - n2}")
elif s == "/":
  print(f"{n1} / {n2} = {n1 / n2}")
elif s == "//":
  print(f"{n1} // {n2} = {n1 // n2}")
elif s == "*":
  print(f"{n1} * {n2} = {n1 * n2}")
elif s == "**":
  print(f"{n1} ** {n2} = {n1 ** n2}")
elif s == "%":
  print(f"{n1} % {n2} = {n1 % n2}")
else:
  print("Invalid operator")

Please provide first number: 1
Please provide second number: 2
Please provide operator (+, -, /, //, *, **, %): +
1.0 + 2.0 = 3.0

In [ ]:
for numberHours in range(1, 9):
  fee = 5.0 + (2.5 * numberHours)
  if fee <= 10.0:
    fee = 10.0
  if fee >=20.0:
    fee = 20.0
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
print("Ad$", "\t", "Profit")
for adcost in range(0, 201, 25):
  additional = 2 * round(adcost ** 0.5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost, "\t", profit)

Ad$ 	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
print("Ad$\t", "Profit")

adcost = 0
while adcost < 201:
  additional = 2 * round(adcost ** .5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost, "\t", profit)
  adcost = adcost + 25

Ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
import random

play = input("Do you want to play a game (yes/no?): ")

while play == "yes":
  p1 = input("Player 1 - Choose between rock/paper/scissors: ").capitalize()
  p2 = random.choice(["rock", "paper", "scissors"]).capitalize()

  print(f"Player chose {p1}; Computer chose {p2}")

  if p1 == p2:
    print("Draw")
  elif (p1 == "Rock" and p2 == "Scissors") or (p1 == "Scissors" and p2 == "Paper") or (p1 == "Paper" and p2 == "Rock"):
    print("Player 1 wins!")
  else:
    print("Player 2 wins!")

  play = input("Do you want to play a new game (yes/no?): ")

print("Good day!")

Do you want to play a game (yes/no?): yes
Player 1 - Choose between rock/paper/scissors: rock
Player chose Rock; Computer chose Scissors
Player 1 wins!
Do you want to play a new game (yes/no?): no
Good day!

In [ ]:
lst = []

num = float(input("Give a number: "))

while num != 0.0:
  lst.append(num)
  num = float(input("Give a number: "))
lst.sort(reverse=True)
print(lst)

Give a number: 9
Give a number: 6
Give a number: 3
Give a number: 0
[9.0, 6.0, 3.0]

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
counts = {}

while len(counts) <5:
  key = input("Give me a string: ")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] += 1

counts

Give me a string: a
Give me a string: b
Give me a string: c
Give me a string: c
Give me a string: d
Give me a string: a
Give me a string: a
Give me a string: a
Give me a string: e

{'a': 4, 'b': 1, 'c': 2, 'd': 1, 'e': 1}

In [ ]:
def calcFee(hours):
  fee = 5.0 + (2.5 * hours)
  if fee <= 10.0:
    fee = 10.0
  if fee >=20.0:
    fee = 20.0
  print(f'Fee: {fee}$')

print("Program starts...")
numHours = int(input("Enter number of hours: "))
calcFee(numHours)

Program starts...
Enter number of hours: 5
Fee: 17.5$

Post-Midterm

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[:-1])

reverse("Hello")

'olleH'

In [ ]:
def calcFee(hours):
  fee = 5.0 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'Fee: {fee}$')

def main():
  try:
    numHours = int(input("Enter number of hours: "))
    calcFee(numHours)
  except ValueError:
    print("Cannot cast to int().")
  except:
    print("Unknown error...")

if __name__ == "__main__":
  main()

Enter number of hours: -5
Fee: 10.0$

In [ ]:
def getValues(n):
  L = []
  for i in range(n):
    weight = float(input("Enter weight: "))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The average weight is: {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print(f'List {alist} is empty!')

if __name__ == '__main__':
  try:
    n = int(input("Enter size of list: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print("Input cannot be casted as an int()")

Enter size of list: 0
List [] is empty!

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal=False):
    if formal:
      print(f'Hi {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return "{}, {}".format(self.first, self.last)

greeting = Greeting("Donald", "Becker")
greeting.display(formal=True)
print(greeting)

Hi Donald Becker
Donald, Becker

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course in self.courses:
      print(f"You have already enrolled in {course}")
    else:
      self.courses.append(course)

  def get_courses(self):
    return self.courses

In [ ]:
s1 = Student("Bob", 100)
s2 = Student("Alice", 101)

In [ ]:
print(s1.name, s2.name)

Bob Alice

In [ ]:
s1.enroll("BTE320")

You have already enrolled in BTE320

In [ ]:
s1.get_courses()

['BTE320']

In [9]:
import math

class Point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def distance(self, other):
    return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)

In [11]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0, 2)
    self.c3 = Point(2, 0)
    self.c4 = Point(2, 2)
    self.width = self.calculate_width()
    self.height = self.calculate_height()

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_height(self):
    return self.c3.distance(self.c4)

  def area(self):
    return self.width * self.height

square = Rectangle()
square.area()

4.0